# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# PyCharm specific files
.idea/
*.iml

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# MacOS specific files
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp
*~